* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Courier New", Courier, monospace;
  }
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #2b394c;
  }
  .container {
    position: relative;
    width: auto;
    height: auto;
    background: #fff;
    border-radius: 12px;
    padding: 30px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    background-color: transparent;
    border-radius: 20px;
    border: 2px solid #4adf86;
  }
  h1 {
    color: #fff;
    margin-left: px;
    margin-right: 30px;
  }
   p {
       color: #a0a2a9;
       margin-top:10px;
       margin-bottom:8px;
       font-size: 15px;
  }
  .h1-txt {
    color: #4adf86;
  }
input[type="text"]{
    width: 100%;
    height: 30px;
    border-radius: 8px;
    padding: 10px 15px;
    border: 1px solid #aaa;
  }
  
  #generate-btn{
    width: 100%;
    height: 40px;
    border-radius: 8px;
    border: none;
    background: #4adf86;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    outline: none;
    margin-top: 10px;
  }
  #download-btn{
    width: 100%;
    height: 40px;
    border-radius: 8px;
    border: none;
    background: #4adf86;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    outline: none;
    margin-top: 10px;
  }
  img{
    width: 150px;
    display: block;
    height: 150px;
    margin-right:auto;
    margin-left:auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    border: 2px solid #4adf86;
  }

  .qr-part{
    display:block;
    align-items: center;
    margin-top: 20px;
    opacity: 0;
  transform: translateY(20px); 
  transition: opacity 0.3s ease-in, transform 0.3s ease-in; 
  }
  .qr-part.active {
    opacity: 1; 
    transform: translateY(0); 
  }
  
  .qr-part.exit {
    opacity:0;
    transform:translateY(20px);
  }
  